apiVersion: v1
kind: Service
metadata:
  name: ui
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: ui
  ports:
    - protocol: TCP
      port: {{ .Values.ui.service.port }}
      targetPort: {{ .Values.ui.service.port }}
  type: ClusterIP
